<!DOCTYPE html>
<html
        xmlns:th="<http://www.thymeleaf.org>"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">

    <div class="container-fluid">

        <div class="jumbotron">
            <h1 class="display-4">Welcome to the restricted area!</h1>

            <p class="lead">
                Now you are logged in with: <b><span th:text="${identityProvider}">Identity Provider</span></b>
            </p>

            <p class="lead" th:if="${account.person.name != null}">
                According to the identity provider, your name is: <b><span th:text="${account.person.name}">Name</span></b>
            </p>

            <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>E-mail</th>
                <th>Provider</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="authenticator : ${account.socialAuthenticators}">
                <td th:text="${authenticator.subjectId}"></td>
                <td th:text="${authenticator.email}"></td>
                <td th:text="${authenticator.identityProvider}"></td>
            </tr>
            </tbody>
        </table>

        <div th:if="${account.games != null}">

            <h2>Steam Games List</h2>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Game</th>
                    <th>Playtime (minutes)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${account.games}">
                    <td th:text="${game.key}"></td>
                    <td th:text="${game.value.name}"></td>
                    <td th:text="${game.value.playtime}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</html>
