<!DOCTYPE html>
<html
        xmlns:th="<http://www.thymeleaf.org>"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">

    <div class="container-fluid">

        <div class="jumbotron text-center">

            <h1>Uh-oh! Something Happened!</h1>

            <p th:if="${timestamp}" id='created'>
                <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
            </p>

            <p>
                <b>Status Code:</b> <span th:text="${status}">Status Code</span>
            </p>

            <p>
                <b>Error Message:</b> <span th:text="${message}">Error Message</span>
            </p>

            <pre th:text="${stacktrace}">Stacktrace</pre>

            <button class="btn btn-primary btn-lg" onclick="history.back()">Go Back</button>

        </div>

    </div>

</div>
</html>
