<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="container-fluid">
        <h2>How to remove your data</h2>
        <p>Hello Social Oauth uses a facebook login app to authenticate our users. Hello Social Oauth does not save your personal data in our server.</p>
        <p>According to Facebook policy, we have to provide User Data Deletion Callback URL or Data Deletion Instructions URL.</p>
        <p>If you want to delete your activities for Hello Social Oauth facebook login app, you can remove your information by following these steps:</p>

        <ul role="list">
            <li>Go to your Facebook Account’s “Settings &amp; Privacy”.</li>
            <li>Click “Settings”</li>
            <li>Then click “Security and Login”.</li>
            <li>Look for “Apps and Websites” and you will see all the apps and websites you have linked with your Facebook account.</li>
            <li>Search and Click “Hello Social Oauth” in the search bar.</li>
            <li>Scroll and click “Remove”.</li>
        </ul>
    </div>
  </div>
  </html>