<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Hello, Social Auth!</h1>
            <p class="lead">This is a simple web application to test the oauth2 capabilities from different social providers.</p>

            <hr class="my-4">

            <p>Try to access the restricted area through the button bellow</p>
            <a class="btn btn-primary btn-lg" href="/account" role="button">Access restricted area</a>

            <hr class="my-4">

            <p>Or try any of the different social providers listed bellow</p>
            <a class="btn btn-secondary" href="/oauth2/authorization/facebook">Facebook</a>
            <a class="btn btn-secondary" href="/oauth2/authorization/github">Github</a>
            <a class="btn btn-secondary" href="/oauth2/authorization/google">Google</a>
            <a class="btn btn-secondary" href="/oauth2/authorization/okta">Okta</a>
            <a class="btn btn-secondary" href="/login/steam">Steam</a>
        </div>
    </div>
</div>
</html>
